.tableData{
    border: 1px solid black;
}
table{
    width: 30%;
    border: 1px solid black;
    text-align: center;
}
td{
    width: 1rem;
    height: 2rem;
}
.main{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
input{
    width: 15em;
    height: 2.5em;
}
button{
    width: 15em;
    height: 2.5em;
}
#tableData{ 
    width: 100%;
    display: flex;
    justify-content: center;
}
#tableData1{ 
    width: 100%;
    display: flex;
    justify-content: center;
}
#outputUnits{
    width: 100%;
    text-indent: 16em;
    font-size: 2em;
}
